<img src={{artist.image}}>

<span class='artist-info__name'>
  {{artist.name}}
</span>

<div class='artist-info_stat'>
  {{artist.bandMates.length}} - Number of Artists Performed With
</div>

<div class='artist-info_stat'>
  {{artist.events.length}} - Gigs This Year
</div>

{{#if hasMonth}}
  For {{monthString}}

  <div class='artist-info_stat'>
    {{bandMatesForMonth.length}} - Number of Artists Performed With in {{monthString}}
  </div>

  <div class='artist-info_stat'>
    {{eventsForMonth.length}} - Gigs in {{monthString}}
  </div>
{{/if}}

<span>
  {{yield}}
</span>
