<div class="artist-info__column_image">
  <img src={{artist.image}}>
</div>
<div class="artist-info__column">
  <span class='artist-info__name'>
    {{artist.name}}
  </span>

  <span class='artist-info__instrument'>
    {{artist.instrument}}
  </span>

  <div class='artist-info__stat'>
    <span class='artist-info__number'>
      {{artist.bandMates.length}}
    </span> - Bandmates
  </div>

  <div class='artist-info__stat'>
    <span class='artist-info__number'>
      {{artist.events.length}}
    </span> - Gigs This Year
  </div>

  {{#if hasMonth}}
    <div class='artist-info__stat'>
      <span class='artist-info__number'>
        {{bandMatesForMonth.length}}
      </span> - Bandmates in {{monthString}}
    </div>

    <div class='artist-info__stat'>
      <span class='artist-info__number'>
        {{eventsForMonth.length}}
      </span> - Gigs in {{monthString}}
    </div>
  {{/if}}

  <span>
    {{yield}}
  </span>
</div>
<div class="artist-info__column">
  <div {{action clearArtist null}} class="artist-info__button">
    Clear
  </div>
</div>
