<div class="calendar-event" ...attributes>
  <div class="calendar-event__time">
    {{moment-format event.startTime "LT"}}
    -
    {{moment-format event.endTime "LT"}}
  </div>

  <div class="calendar-event__name">
    {{event.title}}
  </div>

  {{#if event.artists.length}}

    <button class="button" {{action "toggleArtist"}}>
      {{if this.showArtists "Hide Band" "Show Band"}}

      <span class="calendar-event__button-caret">
        {{if this.showArtists "▲" "▼"}}
      </span>
    </button>

    <div class="calendar-event__artists {{if this.showArtists "is-visible"}}">
      {{#each event.artists as |artist|}}
        <LinkTo
          @route="artist"
          @model={{artist.id}}
          class="calendar-event__artist selectable"
          @activeClass="selected"
        >
          <span class="calendar-event__artist_name">
            {{artist.name}}
          </span>
          <span class="calendar-event__instrument">
            {{d3-color artist.instrument icon=true}}
            {{artist.instrument}}
          </span>
          <span style="clear: both;"></span>
        </LinkTo>
      {{/each}}
    </div>

  {{/if}}
</div>
