<div class='event-info__name'>
  {{event.name}}
</div>

<div class='event-info__date'>
  {{format-date event.startTime}}
</div>

<div class='event-info__artists'>
  {{#each event.artists as |artist|}}
    <div {{action selectArtist artist}} class='event-info__artist'>
      <span class='event-info__artist_name'>
        {{artist.name}}
      </span>
      <span class='event-info__instrument'>
        {{artist.instrument}}
      </span>
      <span style="clear: both;"></span>
    </div>
  {{/each}}
</div>
