<svg width="625" height="675">
  <g class='force-graph__links'>
    {{#each graph.links as |link|}}
      <line stroke-width={{link.sqrtValue}}></line>
    {{/each}}

    <g class='force-graph__nodes'>
      {{#each graph.nodes as |artist|}}
        <g class="node" width="20" height="20"
          {{action selectArtist (if (eq artist.id selectedArtist.id) null artist)}}>
          <circle r={{if (eq artist.id selectedArtist.id) 15 5}} dd-artist={{artist.id}} fill={{d3-color artist.instrument}}>
          <title>{{artist.text}}</title>
          </circle>
        </g>
      {{/each}}
    </g>
  </g>
</svg>
