<div class="force-graph" {{on "mousemove" (action "mouseMove")}} ...attributes>
  <div class="force-graph__background" style={{this.style}}>
  </div>
  <svg width={{width}} height={{height}}>
    <g class="force-graph__links">
      {{#each graph.links as |link|}}
        <line stroke-width={{link.sqrtValue}}></line>
      {{/each}}

      <g class="force-graph__nodes">
        {{#each graph.nodes as |artist|}}
          <IsSelected @current={{artist.id}} @selected={{selectedArtist.id}} as |isSelected|>
            <g class="node {{if isSelected "selected"}}" width="20" height="20"
              {{action "selectArtist" (if isSelected null artist)}}>

              <circle r={{if isSelected 20 10}} dd-artist={{artist.id}}>
              </circle>

              <text
                text-anchor="middle"
                dy="0.3em"
                dd-artist={{artist.id}}>
                {{d3-color artist.instrument icon=true}}
              </text>
            </g>
          </IsSelected>
        {{/each}}
      </g>
    </g>
  </svg>

  <div class="force-graph__artist-hover {{this.hoverClass}} {{if hoverArtist "is-visible"}}">
    <ArtistInfo @artist={{hoverArtist}} @showClearButton={{false}}>
      Click the dot to focus on the artist.
    </ArtistInfo>
  </div>

</div>
