<div class="stats__column stats_scroll" ...attributes>
  <span class="stats__title">
    {{title}}
  </span>
  {{#each sortedArtists as |a|}}
    <div
      class="stats__line selectable {{if (eq a.id selectedArtist.id) "selected"}}"
      {{on "click" (action "selectArtist" (if (eq a.id selectedArtist.id) null a))}}
      >
      <span class="stats__number">
        {{get-length a key}}
      </span>
      {{a.name}}
      -
      {{a.instrument}}
    </div>
  {{/each}}
</div>
