<span class="stats__title">
  {{title}}
</span>
{{#each sortedArtists as |a|}}
  <div
    onclick={{action "selectArtist" (if (eq a.id selectedArtist.id) null a)}}
    class="stats__line selectable {{if (eq a.id selectedArtist.id) "selected"}}"
  >
    <span class="stats__number">
      <GetLength />
    </span>
    {{a.name}}
    -
    {{a.instrument}}
  </div>
{{/each}}