<div class="nav">
  <LinkTo @route="about" class="selectable">
    About
  </LinkTo>
  <LinkTo @route="stats" class="selectable">
    Leader Board
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=allMonths}} class="selectable">
    All Gigs
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=1}} class="selectable">
    Jan
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=2}} class="selectable">
    Feb
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=3}} class="selectable">
    Mar
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=4}} class="selectable">
    Apr
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=5}} class="selectable">
    May
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=6}} class="selectable">
    Jun
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=7}} class="selectable">
    Jul
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=8}} class="selectable">
    Aug
  </LinkTo>
  <LinkTo @route="index" @query={{hash month=9}} class="selectable">
    Sep
  </LinkTo>
</div>