<div class="nav">
  {{link-to "Leader Board" "stats" class="selectable"}}
  {{link-to "All Gigs" "index" (query-params month=null) class="selectable"}}
  {{link-to "January" "index" (query-params month=1) class="selectable"}}
  {{link-to "February" "index" (query-params month=2) class="selectable"}}
  {{link-to "March" "index" (query-params month=3) class="selectable"}}
  {{link-to "April" "index" (query-params month=4) class="selectable"}}
  {{link-to "May" "index" (query-params month=5) class="selectable"}}
  {{link-to "June" "index" (query-params month=6) class="selectable"}}
  {{link-to "July" "index" (query-params month=7) class="selectable"}}
</div>
