<div class="index-container">
  <div class="index-container__header">
    <LinkTo @route="index" class="selectable">
      <h1>
        <strong>
          Splanky
        </strong>
      </h1>
      <h2>
        A social graph of NYC jazz musicians.
      </h2>
    </LinkTo>
    {{#if showCTA}}
      <div
        class="index-container__cta selectable"
        {{action (mut showCTA) false}}
      >
        Click a dot or a musician's name to get started.
      </div>
    {{/if}}
    <div class="nav">
      <PowerSelect
        @options={{years}}
        @searchEnabled={{false}}
        @selected={{year}}
        @onchange={{action "changeYear"}} as |value|
      >
        {{value}}
      </PowerSelect>
      <PowerSelect
        @options={{months}}
        @searchEnabled={{false}}
        @selected={{selectedMonth}}
        @onchange={{action "changeMonth"}} as |value|
      >
        {{value.name}}
      </PowerSelect>
      <LinkTo @route="index" class="selectable">
        Monthly graph
      </LinkTo>
      <LinkTo @route="stats" class="selectable">
        Leader board
      </LinkTo>
      <LinkTo @route="about" class="selectable">
        About
      </LinkTo>
    </div>
  </div>
  <div class="index-container__graph-viewport">
    {{outlet}}
  </div>
</div>