<div class="index-container">
  <div class="index-container__header">
    <LinkTo @route="index" class="selectable" @activeClass="">
      <h1 class="index__title">
        Splanky
      </h1>
    </LinkTo>

    <h2 class="index__subtitle">
      a social graph of NYC jazz musicians.
    </h2>

    <div class="nav">
      <PowerSelect
        @options={{years}}
        @searchEnabled={{false}}
        @selected={{year}}
        @onchange={{action "changeYear"}} as |value|
      >
        {{value}}
      </PowerSelect>
      <PowerSelect
        @options={{months}}
        @searchEnabled={{false}}
        @selected={{selectedMonth}}
        @onchange={{action "changeMonth"}} as |value|
      >
        {{value.name}}
      </PowerSelect>
      <LinkTo @route="index" class="selectable {{if this.isGraphRoute "active"}}">
        Monthly graph
      </LinkTo>
      <LinkTo @route="stats" class="selectable">
        Most popular
      </LinkTo>
      <LinkTo @route="about" class="selectable">
        About
      </LinkTo>
    </div>
  </div>
  <div class="index-container__graph-viewport">
    {{outlet}}
  </div>
</div>
