<div class="index-container__column">
  <ForceGraph
    @graph={{graph}}
    @selectArtist={{action (mut selectedArtist)}}
    @selectedArtist={{selectedArtist}}
    @doTransition={{action "doTransition"}}
  />
</div>
<div class="index-container__column">
  <div class="index-container__column-header">
    <EventList @events={{model}} />
  </div>
</div>
