<div class="index-container__column">
  <ForceGraph
    @graph={{graph}}
    @selectArtist={{action (mut selectedArtist)}}
    @selectedArtist={{selectedArtist}}
  />
</div>
<div class="index-container__column">
  <div class="index-container__column-header">
    <h2>
      Artists & shows for August {{! TODO make dynamic}}
    </h2>
  </div>
  <div class="index-container__events">
    <PowerCalendar @center={{this.center}} as |calendar|>
      <calendar.Days as |day|>
        {{#if day.isCurrentMonth}}
          {{#with (get eventsByDay day.number) as |eventsForDay|}}
            {{day.number}}

            {{#each eventsForDay as |event|}}
              <CalendarEvent
                @event={{event}}
                @selectArtist={{action (mut selectedArtist)}}
                @selectedArtist={{selectedArtist}}
                @hideDate={{false}}
              />
            {{/each}}
          {{/with}}
        {{/if}}
      </calendar.Days>
    </PowerCalendar>
  </div>
</div>
