<div class="stats">
  <StatsColumn
    @artists={{model}}
    @key="bandMates"
    @title="Who's played with the most people?"
    @selectedArtist={{selectedArtist}}
    @selectArtist={{action (mut selectedArtist)}}
  />
  <StatsColumn
    @artists={{model}}
    @key="events"
    @title="Who's had the most gigs?"
    @selectedArtist={{selectedArtist}}
    @selectArtist={{action (mut selectedArtist)}}
  />

  {{#if selectedArtist}}
    <div class="stats__artist">
      <ArtistInfo
        @artist={{selectedArtist}}
        @clearArtist={{action (mut selectedArtist)}}
      >
        <LinkTo @route="artist" @model={{selectedArtist.id}}>
          See
          {{selectedArtist.name}}
          's graph
        </LinkTo>
      </ArtistInfo>
    </div>
    {{/if}}
</div>
